html {
  background-color: #FFF3D9;
}

section {
  background-color: #DC4731;
  margin: 40px 40px 40px 40px;
  padding: 0;
}
section .header-text {
  color: #FFF3D9;
}

form {
  align-items: auto;
}

/* possible size for images */
img{
  width: 150px;
}

.columns {
  flex-wrap:wrap;
}

.column {
  width:200px;
}

#display {
  background-color:#FFF3D9;
  padding-left: 50px;
  margin-top: 50px;
}

.list-btns {
  margin: 0 30px;
}

#btn-list{
  padding-top: 30px;
  color: #FFF3D9;
  font-size: 24px;
}