:root {
    --red-orange: #DC4731;
    --cream: #FFF3D9;
    --burnt-orange:#B8390E;
    --red-rose: #3B0918;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

section.details-page {
    background-color: var(--cream);
    min-height: 100vh;
    margin-bottom: 0;
}

.details-page {
    padding-top: 2rem;
}

.details-page .header-spacing {
    margin-bottom: .5rem;
}

.details-page .ingredients-list {
    margin-bottom: .5rem;
    list-style-position: inside;
}

.details-page .img-container img.profile-img {
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 250px;
}



@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    .details-page .img-container img.profile-img {
        margin: 2rem auto 1rem;
    }

    .details-page .header-text-container {
        padding-left: 1rem;
    }

    .details-page .description-container {
        padding-left: 2rem;
    }
}