:root {
    --red-orange: #DC4731;
    --cream: #FFF3D9;
    --burnt-orange:#B8390E;
    --red-rose: #3B0918;
}

section.details-page {
    background-color: var(--cream);
    height: 100vh;
}

.details-page {
    padding-top: 2rem;
}

.details-page .header-spacing {
    margin-bottom: .5rem;
}

.details-page .img-container img#profile-img {
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 250px;
}



@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    .details-page .img-container img#profile-img {
        margin: 2rem auto 1rem;
    }
}